.categories {
  @include font-size(14px);
  color: $black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;

  @include from (tablet) {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  li {
    cursor: pointer;
    padding: 12px 30px;
  }
}