.footer {
  padding: 60px 20px;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    @include font-size (12px);
    padding-bottom: 40px;
    letter-spacing: 3px;
  }
}