.footer {
  align-items: center;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;

  &__top {
    @include font-size (12px);
    letter-spacing: 3px;
    padding-bottom: 40px;
  }
}