.header {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;

  @include from (desktop) {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__menu {
    @include font-size(20px);
    color: $rose;

    @include from (desktop) {
      display: none;
    }
  }

  &__close {
    display: none;
    @include font-size(30px);
    color: $rose;
  }

  &__brand {
    display: flex;
    align-items: center;

    &__img {
      width: 100%;
      max-width: 40px;
    }

    &__name {
      padding-left: 20px;
    }

  }

  &__navigation {
    @include from (desktop) {
      display: flex;
      align-items: center;
    }
    .page-navigation {
      display: none;

      @include from (desktop) {
        display: flex
      }

      li {
        @include from (desktop) {
          padding: 10px 30px;
        }
      }
      
    }
    .icon-search {
      @include font-size(20px);
      color: $rose;
      
      @include from (desktop) {
        padding: 10px 30px;
      }
    }
  }
  
}

.menu-active {
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  transition: ease all .3s;
  // transform: translateX(-100%);

  .header__menu {
    display: none;
  }
  .header__close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
  }
  .header__brand {
    padding: 60px 0;
  }
  .header__navigation {
    text-align: center;
    .page-navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include font-size(28px);
      color: $black;
      padding: 0;

      li {
        padding: 20px 0;
        width: 100%;

        @include from (desktop) {
          padding: 10px 30px !important;
        }
      }
    }
  }
}

.selected {
  background: $rose;
  color: $white;
}