.header {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;

  @include from (desktop) {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__menu {
    @include font-size(20px);
    color: $rose;

    @include from (desktop) {
      display: none;
    }
  }

  &__close {
    @include font-size(30px);
    color: $rose;
    display: none;
  }

  &__brand {
    align-items: center;
    display: flex;

    &__img {
      max-width: 40px;
      width: 100%;
    }

    &__name {
      padding-left: 20px;
    }

  }

  &__navigation {
    @include from (desktop) {
      align-items: center;
      display: flex;
    }
    .page-navigation {
      display: none;

      @include from (desktop) {
        display: flex;
        @include font-size(14px);
      }

      li {
        @include from (desktop) {
          padding: 12px 30px;
        }
      }
      
    }
    .icon-search {
      @include font-size(20px);
      color: $rose;

      @include from (desktop) {
        padding: 10px 30px;
      }
    }
  }
  
}

.menu-active {
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
  transition: ease all .3s;

  .header__menu {
    display: none;
  }
  .header__close {
    display: block;
    padding: 40px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__brand {
    padding: 60px 0;
  }
  .header__navigation {
    text-align: center;
    .page-navigation {
      @include font-size(20px);
      align-items: center;
      color: $black;
      display: flex;
      flex-direction: column;
      padding: 0;

      a {
        width: 100%;
      }

      li {
        padding: 20px 0;
        width: 100%;
      }
    }
  }
}