.hero {
  align-items: center;
  background-size: cover;
  background: linear-gradient(to left, rgba($black, 0.6), rgba($black, 0.6)), url('../images/hero.jpg') no-repeat center center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 10px;
  text-align: center;

  &__title, &__subtitle{
    color: $white;
    width: 100%;
  }

  .btn {
    margin-top: 40px;
  }
}