.home {
  padding: 40px 20px;
  text-align: center;
}

#moreButton {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}
#lessButton {
  cursor: pointer;
  display: none;
}

.shown{
  display: inline-block !important;
}
.hidden{
  display: none !important;
}