.home {
  padding: 40px 20px;
  text-align: center;

  
}
#moreButton {
  cursor: pointer;
  // margin-right: 10px;
  margin-bottom: 10px;
  display: block;
}
#lessButton {
  // margin-left: 10px;
  cursor: pointer;
  display: block;
}

.shown{
  display: inline-block !important;
}
.hidden{
  display: none !important;
}