@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Questrial&display=swap');

body {
  font-family: 'Questrial', sans-serif;
} 

a {
  text-decoration: none;
}

h1 {
  @include font-size (53px);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
}

h2 {
  @include font-size (16px);
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 20px;
}

.title-brand {
  @include font-size (19px);
  color: $black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;

}

.subtitle-brand {
  @include font-size (10px);
  color: $dark-gray;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

li {
  letter-spacing: 4px;
  list-style: none;
}

a {
  color: initial;
}